<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Just in Lyme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

<h1>Just in Lyme</h1>

<h2>By Team <em>No Assignment Due This Week</em></h2>

<h2>Steps:</h2>

<p>
<ol>
    <th:block th:each="viewName : ${viewNames}">
    <li><a th:href="${viewName}" th:text="${viewName}"/></li>
    </th:block>
</ol>
</p>

<h2>Travel risk determination:</h2>
<p th:text="|Based on patient travel history, Lyme travel risk determined to be: ${travelRisk}.|" />
</body>

</html>