<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Just in Lyme</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).on('change', '#option1', function(){
            $( "#form_patient" ).show();
            $( "#form_physician" ).hide();
        });
        $(document).on('change', '#option2', function(){
            $( "#form_patient" ).hide();
            $( "#form_physician" ).show();
        });

    </script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="card">

                    <div class="card-header text-center">
                        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    </div>

                    <div class="card-body">
                        <div class="row justify-content-center mb-4">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-info active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked /> Patient
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="option2" autocomplete="off" /> Physician
                                </label>
                            </div>
                        </div>

                        <form id="form_physician" style="display: none;">
                            <div class="form-group">
                                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">

                            </div>
                            <div class="form-group">
                                <input disabled type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                        </form>

                        <a class="btn btn-primary btn-block" href="pickPatient">Enter</a>



                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
