<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pick Patient</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).on('change', '#option1', function(){
            $( "#form_patient" ).show();
            $( "#form_physician" ).hide();
        });
        $(document).on('change', '#option2', function(){
            $( "#form_patient" ).hide();
            $( "#form_physician" ).show();
        });

    </script>

</head>

<body>

    <div class="container">

        <div class="card mb-2">
            <h5 class="card-header text-center bg-info">Select Patient to Start Encounter</h5>
            <div class="card-body justify-content-center">
                <form method="GET" action="">
                <div class="input-group mb-3">
                    <input name="search" type="text" class="form-control" placeholder="Search by Patient Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header bg-info">Results</h5>
            <div class="card-body">
                <div class="list-group">
                    <th:block th:each="patient : ${patients}">
                       <form th:name="|form-${patient.idElement.idPart}|" th:object="${pickPatientForm}" method="post" th:action="@{pickPatient/next}">
                            <input type="hidden" name="pickedId" th:value="${patient.id}" />
                            <a href="#" th:attr="onClick=|document.forms['form-${patient.idElement.idPart}'].submit();|" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="${patient.name[0].nameAsSingleString}">John Doe</h5>
                                    <small><span th:text="${patient.meta.lastUpdated}"/></small>
                                </div>
                                <p class="mb-1" th:text="${patient.id}">ID 0168</p>
                            </a>
                       </form>
                    </th:block>
                    <div th:if="${patients.empty}" class="alert alert-info" role="alert">
                        Sorry, no results found. Please try again.
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

</html>
