<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Provider Recommendations</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).on('change', '#option1', function(){
            $( "#form_patient" ).show();
            $( "#form_physician" ).hide();
        });
        $(document).on('change', '#option2', function(){
            $( "#form_patient" ).hide();
            $( "#form_physician" ).show();
        });

    </script>

</head>

<body>

    <div class="container">

        <div class="jumbotron bg-info">
            <div class="container">
                <h1 class="display-4">Provider Recommendations</h1>
                <p class="lead">Medical Hospital at City State</p>
            </div>
        </div>


        <div class="card mb-2">
            <h5 class="card-header bg-info">Patient Information</h5>
            <div class="card-body">
                <h5 class="card-title"><span th:text="${prForm.patientName}"></span></h5>
                <p class="card-text"><span th:text="${prForm.patientId}"></span></p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                Symptom and Travel Results
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Travel to high risk areas: </strong><span th:text="${prForm.highRiskTravel}"></span></p>
                <p class="card-text"><strong>Warning sign/symptoms today: </strong><span th:text="${prForm.symptomsToday}"></span></p>
                <p class="card-text"><strong>Symptom survey 30 or more days ago?: </strong><span th:text="${prForm.biteHappenedMore30Days}"></span></p>
                <p class="card-text"><strong>Previous encounter(s) observations: </strong></p>
                <p class="card-text">
                    <ol>
                        <th:block th:each="observation : ${prForm.previousObservations}">
                           <li th:text="|${observation.code.text}  was ${observation.value.value} at ${observation.effective.value}|"></li>
                        </th:block>
                    </ol>
                </p>
                <p class="card-text"><strong>CDC Guidelines Require Test: </strong><span th:text="${prForm.symptomsToday}"></span></p>
                <p class="card-text"><strong>CDC Guidelines: </strong>
                    <div th:if="${prForm.symptomsToday}">
                        <span th:if="${prForm.biteHappenedMore30Days}">Below first test if not already performed, then IgG Western Blot</span>
                        <span th:if="${not prForm.biteHappenedMore30Days}">Below first test if not already performed, then IgM Western Blot</span>
                    </div>
                    <div th:unless="${prForm.symptomsToday}">
                        <span>Not Applicable At This Time</span>
                    </div>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-info">
                CDC General Process
            </div>
            <div class="card-body">

                <p>
                    CDC currently recommends a two-step process when testing blood for evidence of antibodies
                    against the Lyme disease bacteria.
                </p>
                <p>
                    The first required test is the Enzyme Immunoassay (EIA) or Immunofluorescence Assay (IFA).
                    If this test yields negative results, the provider should consider an alternative diagnosis.
                </p>
                <p>
                    More information from CDC is available <a href="https://www.cdc.gov/lyme/diagnosistesting/labtest/twostep/index.html">here</a>.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
