<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyme Symptoms</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).on('click', '#radio1', function() {
            $("#submit_btn").attr("disabled", false);
        });
        $(document).on('click', '#radio2', function() {
            $("#submit_btn").attr("disabled", false);
        });
    </script>

</head>

<body>

<div class="container">

    <div class="jumbotron bg-info">
        <div class="container">
            <h1 class="display-4">Lyme Symptom Questions</h1>
            <p class="lead">Please answer the following to the best of your ability.</p>
        </div>
    </div>


    <div class="card mb-2">
        <h5 class="card-header bg-info">Patient Information</h5>
        <div class="card-body">
            <h5 class="card-title"><span th:text="${patientName}"></span></h5>
            <p class="card-text"><span th:text="${patientId}"></span></p>
        </div>
    </div>


    <div class="card mb-4">
        <h5 class="card-header bg-info">Questions</h5>
        <div class="card-body">
            <h5 class="card-title text-center">When did the tick bite happen?</h5>

            <form th:action="@{/symptomQ1/next}" th:object="${q1Form}" method="post" class="">
                <div class="form-group row justify-content-center">
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" id="radio1" th:field="*{biteHappenedWithin30Days}" th:value="false">
                        <label class="form-check-label" for="radio1">
                        30 or fewer days ago
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radio2" th:field="*{biteHappenedWithin30Days}" th:value="true">
                        <label class="form-check-label" for="radio2">
                            More than 30 days ago
                        </label>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <input id="submit_btn" type="submit" class="btn btn-primary" disabled="true"/>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

</html>
