<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyme Symptoms</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

<div class="container">

    <div class="jumbotron bg-info">
        <div class="container">
            <h1 class="display-4">Lyme Symptom Questions</h1>
            <p class="lead">Please answer the following to the best of your ability.</p>
        </div>
    </div>


    <div class="card mb-2">
        <h5 class="card-header bg-info">Patient Information</h5>
        <div class="card-body">
            <h5 class="card-title"><span th:text="${patientName}"></span></h5>
            <p class="card-text"><span th:text="${patientId}"></span></p>
        </div>
    </div>


    <div class="card mb-4">
        <h5 class="card-header bg-info">Questions</h5>
        <div class="card-body">
            <h5 class="card-title text-center">Do you have one or more of the following Symptoms?</h5>


            <form th:action="@{/symptomNoBite/next}" th:object="${noBiteForm}" method="post">
                <div class="form-group row bg-light">
                    <label for="q1" class="col-sm-8 col-form-label">Fever, chills, headache, fatigue, muscle and joint aches, and swollen lymph nodes</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q1" value="q1" th:field="*{q1}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q2" class="col-sm-8 col-form-label">Erythema migrans (EM) rash</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q2" value="q2" th:field="*{q2}"/>
                    </div>
                </div>



                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>
</body>

</html>
