<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyme Symptoms</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

<div class="container">

    <div class="jumbotron bg-info">
        <div class="container">
            <h1 class="display-4">Lyme Symptom Questions</h1>
            <p class="lead">Please answer the following to the best of your ability.</p>
        </div>
    </div>


    <div class="card mb-2">
        <h5 class="card-header bg-info">Patient Information</h5>
        <div class="card-body">
            <h5 class="card-title"><span th:text="${patientName}"></span></h5>
            <p class="card-text"><span th:text="${patientId}"></span></p>
        </div>
    </div>


    <div class="card mb-4">
        <h5 class="card-header bg-info">Questions</h5>
        <div class="card-body">
            <h5 class="card-title text-center">Do you have one or more of the following Symptoms?</h5>


            <form th:action="@{/symptomBite/next}" th:object="${biteForm}" method="post">
                <div class="form-group row bg-light">
                    <label for="q1" class="col-sm-8 col-form-label">Severe headaches and neck stiffness</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q1" value="q1" th:field="*{q1}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q2" class="col-sm-8 col-form-label">Erythema migrans (EM) rash</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q2" value="q2" th:field="*{q2}"/>
                    </div>
                </div>

                <div class="form-group row bg-light">
                    <label for="q3" class="col-sm-8 col-form-label">Arthritis with severe joint pain and swelling, particularly the knees and other large joints</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q3" value="q3" th:field="*{q3}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q4" class="col-sm-8 col-form-label">Facial palsy</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q4" value="q4" th:field="*{q4}"/>
                    </div>
                </div>

                <div class="form-group row bg-light">
                    <label for="q5" class="col-sm-8 col-form-label">Intermittent pain in tendons, muscles, joints, and bones</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q5" value="q5" th:field="*{q5}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q6" class="col-sm-8 col-form-label">Heart palpitations or an irregular heart beat</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q6" value="q6" th:field="*{q6}"/>
                    </div>
                </div>

                <div class="form-group row bg-light">
                    <label for="q7" class="col-sm-8 col-form-label">Dizziness or shortness of breath</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q7" value="q7" th:field="*{q7}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q8" class="col-sm-8 col-form-label">Inflammation of the brain and spinal cord</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q8" value="q8" th:field="*{q8}"/>
                    </div>
                </div>

                <div class="form-group row bg-light">
                    <label for="q9" class="col-sm-8 col-form-label">Nerve pain</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q9" value="q9" th:field="*{q9}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="q10" class="col-sm-8 col-form-label">Shooting pains, numbness, or tingling in the hands or feet</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q10" value="q10" th:field="*{q10}"/>
                    </div>
                </div>

                <div class="form-group row bg-light">
                    <label for="q11" class="col-sm-8 col-form-label">Short-term memory</label>
                    <div class="col-sm-4">
                        <input class="form-check-input position-static" type="checkbox" id="q11" value="q11" th:field="*{q11}"/>
                    </div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>
</body>

</html>
