<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lyme Travel Questions</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).on('change', '#option1', function(){
            $( "#form_patient" ).show();
            $( "#form_physician" ).hide();
        });
        $(document).on('change', '#option2', function(){
            $( "#form_patient" ).hide();
            $( "#form_physician" ).show();
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#state').get(0).selectedIndex = 0;
            $('#county').get(0).selectedIndex = 0;
            $('#countydiv').hide();
            $('#traveldiv').hide();
            $('#additionaldiv').hide();
        });
        $(document).on('change', '#state', function(){
            //alert(this.value);

            // get counties
            $.getJSON("idexx/" + this.value, function(data) {
                var $counties = $("#county");
                $counties.empty();
                $counties.append("<option disabled>Pick county...</option>");
                $.each(data, function(key, value) {
                    $counties.append("<option>" + value + "</option>");
                });

                $('#county').get(0).selectedIndex = 0;
            });

            $('#traveldiv').hide();
            $('#additionaldiv').hide();
            $("#countydiv").show();
        });
        $(document).on('change', '#county', function() {

//            alert("idexx/" + $("#state").val() + "/" + this.value);

            $.getJSON("idexx/" + $("#state").val() + "/" + this.value, function(data) {

                $("#risk").text(data);
                $("#traveldiv").show();
            });
        });
        $(document).on('click', '#confirm', function() {
            //alert($("#risk").text());
            $.getJSON("idexx/risk/" + $("#risk").text(), function(data) {
//                $(location).attr('href',window.location.href.replace("/travelSurvey", ""));
            $('#statediv').hide();
            $('#countydiv').hide();
            $('#traveldiv').hide();
            $('#additionaldiv').show();
            });

        });
        $(document).on('click', '#reset', function() {
            $.getJSON("idexx/risk/Unknown", function(data) {
                $(location).attr('href',window.location.href.replace("/travelSurvey", ""));
            });

        });
        $(document).on('click', '#no', function() {
                $(location).attr('href',window.location.href.replace("/travelSurvey", "/providerRecommendations"));
        });
        $(document).on('click', '#yes', function() {
            $('#additionaldiv').hide();
            $('#state').get(0).selectedIndex = 0;
            $('#statediv').show();
        });
    </script>

</head>

<body>

    <div class="container">

        <div class="jumbotron bg-info">
            <div class="container">
                <h1 class="display-4">Lyme Travel Questions</h1>
                <p class="lead">Please answer the following to the best of your ability.</p>
            </div>
        </div>


        <div class="card mb-2">
            <h5 class="card-header bg-info">Patient Information</h5>
            <div class="card-body">
                <div style="float:left">
                    <h5 class="card-title" th:text="|${patientName}"/>
                    <p class="card-text" th:text="|${patientID}"/>
                </div>
                <div style="float:right">
                    <button id="reset" style="float:right" class="btn btn-warning">Reset all patient travel</button>
                </div>
            </div>
        </div>

        <div id="statediv" class="card">
            <h5 class="card-header bg-info">Please choose a state visited recently:</h5>
            <div class="card-body">
                <select id="state" autocomplete="off">
                    <option disabled>Pick state...</option>
                    <option th:each="state : ${states}" th:value="${state}" th:text="${state}">
                </select>
            </div>
        </div>

        <div id="countydiv" class="card">
            <h5 class="card-header bg-info">Please choose a county within that state:</h5>
            <div class="card-body">
                <select id="county" autocomplete="off">
                    <option disabled>Pick county...</option>
                </select>
            </div>
        </div>

        <div id="traveldiv" class="card">
            <h5 class="card-header bg-info">Travel Risk</h5>
            <div class="card-body">
                <h5>Canine incidents of Lyme Disease in that county is:</h5>
                <h4 id="risk">Unknown</h4>

                <button id="confirm" class="btn btn-success">Patient traveled here</button>
            </div>
        </div>

        <div id="additionaldiv" class="card">
            <h5 class="card-header bg-info">More Travel?</h5>
            <div class="card-body">
                <h5>Patient traveled to additional counties?</h5>
                <button id="yes" class="btn btn-success">Yes</button>
                <button id="no" class="btn btn-success">No</button>
            </div>
        </div>


    </div>
</body>

</html>
